# Input file 
# Sets up parallel jobs 
[Parameters]
# common working directory
# where to compute, to save all output, etc
# not the same as input directory or path to input files
common_wd = ./working_dir/

# file listing model atmospheres
atmos_list = MARCS_all.in

# format of the model atmospheres 
atmos_format = 'marcs'

# path to model atmospheres 
# leave empty if absolute path is provided in the input file
atmos_path = /home/user/MARCS/

# path to model atom and input file
atom_path = ./
# atom ID
atom_id = ni538qm
atom_comment = Ni with new QM collisional data. Created by MB, 2021, see Bergemann, Hoppe+2021.

# path to Multi 1D executable
# make sure it's always compiled to match the node you're using
m3d_path = ./m3dis/experiments/Multi3D/

# number of CPUs to use
ncpu = 2
login_node_address = gemini-login.mpia.de

# starting abundance
start_abund = 5.2
end_abund = 6.7
step_abund = 0.1

# if clurm cluster, then it will submit jobs to the cluster
slurm_cluster = False
slurm_partition = four-wks
slurm_time_limit_hours = 672
slurm_nodes = 2